#VSCode
.vscode/*
.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

.idea

__pycache__

#Videos
*.mp4
*.avi
*.gif

#data
dataset/private
dataset/actors/*

#encodings
encodings/private

#virtualenv
venv/
venv-windows/

#encoding
encodings.pickle
